<div class="container">
  <app-search-input [search]="search" (searchChange)="searchChange($event)"></app-search-input>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" (click)="onSortChange('brand')">
          Brand
            <app-table-th [pagination]="pagination" order="brand"></app-table-th>
        </th>
        <th scope="col" (click)="onSortChange('country')">
          Country
          <app-table-th [pagination]="pagination" order="country"></app-table-th>
        </th>
        <th scope="col" (click)="onSortChange('registration')">
          Registration
            <app-table-th [pagination]="pagination" order="registration"></app-table-th>
        </th>
        <th scope="col">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars; index as i">
        <td>
          {{ car.brand }}
        </td>
        <td>{{ car.country }}</td>
        <td>{{ car.registration  }}</td>
        <td>
          <button mat-icon-button color="warn" (click)="selectCarToRemove(car)" >
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="selectCarToEdit(car)" >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]="pagination.collectionSize"
    [(page)]="pagination.page"
    [pageSize]="pagination.pageSize"
    (pageChange)="onPageChange()"
  >
  </ngb-pagination>
</div>
